html.lenis {
  height: auto;
}
.lenis.lenis-smooth {
  scroll-behavior: auto;
}
.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: hidden;
}
.lenis.lenis-stopped {
  overflow: hidden;
}

.line-mask {
	overflow: hidden;
}
.line {
	display: inline;
}

html.w-editor body {
	cursor: auto;
}
.no-scroll {
  overflow: hidden; 
}
